<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página no oficial dedicada al grupo de pop japonés, YOASOBI">
    <title>YOASOBI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap" media="print" onload="this.media='all'">
    <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap">
    </noscript>
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="./assets/img/yoasobi-seeklogo.svg">
    <script type="module" src="./assets/app/app.js" defer></script>
</head>