@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap");


:root {
    --main: #ee5875;
    --secondary: #2a5f7e;
    --tertiary: #314069;
    --optional: #867c87;
}

html, body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(49,64,105,1) 79%, rgba(42,95,126,1) 100%);
  background-attachment: fixed;
  font-size: 1.2rem;
  color: var(--optional);
  width: 95vw;
}


/* ============== HEADER ============== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--optional);
    font-weight: bolder;
    transition: color 0.3s ease;
}

nav ul a:hover {
    color: #fff;
    text-shadow: 0px 1px 5px #fff;
}

nav>a{
    font-size: 2.1rem;
    font-family: "Anton", sans-serif;
    color: var(--main);
    text-decoration: none;
    letter-spacing: 0.1rem;
}


/* ============== INDEX / MAIN ============== */



#index main {
    font-size: 5rem;
    font-family: "Anton", sans-serif;
    color: var(--main);
    text-shadow: 2px 6px 7px var(--secondary);
    text-align: center;
    height: 78%;
}

#index div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 10rem;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 3px 4px var(--optional);
}

#index img {
    max-width: 35%;
    border: 4px solid var(--tertiary);
}

/* ============== CATEGORIA ============== */


#categoria h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
#categoria .miembros div {
    display: flex;
}

#categoria figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

#categoria img {
    max-width: 80%;
    border: 4px solid var(--tertiary);

}

#categoria .noticias ul {
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#categoria .noticias a {
    text-decoration: none;
    color: var(--optional);
    transition: color 0.3s ease;
}

#categoria .noticias a:hover {
    color: #fff;
    text-shadow: 0px 1px 5px #fff;
}

#categoria .noticias img {
    max-width: 70%;
    border: 4px solid var(--tertiary);
}
/* ============== DETALLE ============== */

/* iframe {
    width: 50%;
    height: auto;
    aspect-ratio: 16/9;
    border: 1px solid var(--tertiary);
} */

/* ============== PRESENTACION ============== */

/* ============== ENLACES ============== */

#enlaces .enlaces h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

#enlaces .enlaces ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#enlaces .enlaces li {
    margin-bottom: 1rem;
}

#enlaces .enlaces a {
    text-decoration: none;
    color: var(--optional);
    transition: color 0.3s ease;
}

#enlaces .enlaces a:hover {
    color: #fff;
    text-shadow: 0px 1px 5px #fff;
}


/* ============== FOOTER ============== */

footer {
    color: white;
    height: 3vh;
    text-align: right;
    padding-right: 2rem;
}

#index footer, #enlaces footer {
    position: absolute;
    bottom: 0;
    right: 15px;

}